{% macro bandePhotos(photos) %}
<div class="bande-photos">
  {% for photo in photos %}
  <figure class="bande-photos__element" data-reveal>
    <img
      src="{{ ('/images/realisations/' + photo.image) | url }}"
      alt="{{ photo.alt }}"
      loading="lazy"
      decoding="async">
    {% if photo.legende %}<figcaption class="bande-photos__legende">{{ photo.legende }}</figcaption>{% endif %}
  </figure>
  {% endfor %}
</div>
{% endmacro %}
